appdirs==1.4.4
buildozer @ https://github.com/kivy/buildozer/archive/refs/heads/master.zip
certifi==2021.10.8
charset-normalizer==2.0.12
cmake==3.22.3
colorama==0.4.4
Cython==0.29.28
distlib==0.3.4
docutils==0.18.1
filelock==3.6.0
idna==3.3
importlib-metadata==4.11.3
Jinja2==3.1.1
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==0.104.2
MarkupSafe==2.1.1
pep517==0.6.0
pexpect==4.8.0
Pillow==9.1.0
platformdirs==2.5.1
ptyprocess==0.7.0
Pygments==2.11.2
pytoml==0.1.21
requests==2.27.1
sh==1.14.2
six==1.16.0
toml==0.10.2
urllib3==1.26.9
virtualenv==20.14.1
zipp==3.8.0
